*{
    padding: 0px;
    margin: 0px;
}
article
    {
        padding:  2em;
    }
section
    {
        margin: 1em;
    }
footer
    {
        background-color:rgb(231, 66, 191);
        height: 10vh;
        width: 100%;
        color: coral;
    
    }
    body {
		
  background: linear-gradient(coral, white);

}

#profile_pic{
    border-radius: 60%;
    max-width: 30%;
    display: block;
    flex-basis: 30%;
}

nav ul li{
    display: inline-flex;
    padding: 5px;
    background-color: rgb(158, 235, 107);
    flex-basis: 15%;  
}


.main-nav li
{
    display: inline-block;
}
 .main-nav li a
 {
     color: blue;
     text-decoration: none;
     padding: 5px 20px;
     font-family: "roboto",sans-serif;

 }
.mian-navLinks
{
    
    text-decoration: black;
    padding 6px 25x;
    border-top-left-radius: 0%;
}
aside a {
    display: block;
    padding: 20px;
    text-align: center;
    border: 3px #454372 solid;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
    color: #454372;
}
main {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

